.footer {
    height: calc(50% - 4rem);
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.options {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
#candidates,
#classification {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff8c;
    border-radius: 0.5rem;
}
