.judge-page {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}
.message{
    background-color: #ffffff93;
    display:inline-block;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0.5rem;
    padding:0.5rem;
}

@media (max-width: 420px) {
    .judge-page {
        padding: 0.5rem;
    }
}
